[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Borderless
Comment=A lightweight UI-less image viewer
Exec=borderless %F
Icon=borderless
Categories=Graphics;
MimeType=image/bmp;image/gif;image/x-icon;image/jpeg;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-png;image/svg+xml;image/x-xbitmap;image/x-xpixmap;
