name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: build
    strategy:
      matrix:
        include:
        - {
            name: "Mac",
            os: macos-14,
            folder: "build_mac"
          }
        - {
            name: "Win64",
            os: windows-latest,
            folder: "build_win"
          }
        - {
            name: "Linux",
            os: ubuntu-24.04,
            folder: "build_linux"
          }
    runs-on: ${{ matrix.os }}
    concurrency: build_${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: cache stuff
      id: cache-stuff
      uses: actions/cache@v4
      with:
        path: "${{ matrix.folder }}"
        key: "${{ matrix.folder }}"

    - name: prepare
      id: prepare
      run: |
        python3 build.py prepare

    - name: install qt
      id: install-qt
      if: ${{ !startsWith(matrix.os, 'ubuntu') }}
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.2'
        modules: 'qtimageformats'
        archives: 'qtbase qtsvg qtimageformats'

    - name: configure
      id: configure
      run: |
        python3 build.py configure

    - name: build
      id: build-standalone
      run: |
        python3 build.py release no

    - uses: actions/upload-artifact@v4
      with:
        name: Borderless ${{ matrix.name }}
        path: artifact
        compression-level: 9

    - name: installer
      id: installer
      run: |
        python3 build.py installer

    - uses: actions/upload-artifact@v4
      if: startsWith(matrix.os, 'windows')
      with:
        name: Borderless ${{ matrix.name }} Installer
        path: "Output/Borderless Installer.exe"
        compression-level: 9

    - name: cleanup
      id: cleanup
      run: |
        rm -r artifact/*